.cn {
    position: absolute;
            width: 99%;
            height: 97%;
          /*  background: gray;*/
            text-align: center;
}


.inner {
    position: absolute;
            top: 50%;
            left: 50%;
            width: 600px;
            height: 600px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            /*background: red;*/
}


 /* Split the screen in half */
 .split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.width75 {
  width: 75%;
}

.width25 {
  width: 25%;
}

/* Control the left side */
.left {
  left: 0;

}

/* Control the right side */
.right {
  right: 0;

}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
} 

/* Estilo para todos los tags h3*/
h3
{
  text-align: center;
  background-color: beige;
  border-radius: 3px;
}

/* Estilo para todos los tags h4*/
h4
{
  background:white; 
  border-radius: 3px; 
  text-align: center;
}

.filaCentrada td
{
  width: 10%;
  text-align: center;
  background-color: beige;
}

.columnaCentrada tr
{
  width: 50%;
  text-align: center;
  background-color: beige;
}

li {
  list-style-type: none; 
}